{% extends 'oceniarka/base.html' %}
{% load static %}
{% load pdf_path %}
{% load crispy_forms_tags %}
{% block title %} kontrola{% endblock %}

{% block kontrol_content %}
    <div class="row ">
        <div class ="col-md-1"></div>

        <div class="document col-md-4 col-sm-4">
            <form id="post_form" method="post" action="#">
                {% csrf_token %}
                 <fieldset class="alert border border-info rounded">
                    <legend class="col-md-3 text-info">Karta Zk:</legend>
                    {% for field in zk_form.visible_fields %}
                        {%  if field.name == "topic" %}
                            <div class="text-secondary">{{ field|as_crispy_field }}</div>
                            <div class="row">
                        {% else %}
                                {{ field|as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                            </div>
                 </fieldset>
                <div class="submit"><input class="btn btn-info" id="submit" type="submit" name="Dalej"></div>
            {% for dfn in document_forms.values %}
                {{ dfn }}
            {% endfor %}
            </form>
        </div>

        <div id="pdf_div" class="col-md-6 col-sm-6">
            <object id="pdf" type="application/pdf" data="{{ control|pdf_path:request.user }}">
                <embed src="{{ control|pdf_path:request.user }}" type="application/pdf">
                    <p class="text-secondary border border-info rounded">Brak zeskanowanej dokumentacji</p>
                </embed>
            </object>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'oceniarka/script.js' %}"></script>
{% endblock %}
