<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-tabs">
            <li class="nav-item">
{#                <div class="">#}
                <a class="nav-link {% if 'lista_kontroli' in request.path %} active text-info {% endif %}" href="{% url 'lista-kontroli' %}">

                    Lista kontroli
                </a>
{#                </div>#}
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'historia' in request.path %} active text-info {% endif %}" href="{% url 'historia' %}">
                    Historia
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'email' in request.path %} active text-info {% endif %}" href="{% url 'email' %}">
                    Email
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if 'change_password' in request.path %} active text-info {% endif %}" href="#" id="navbardrop" data-toggle="dropdown">
                Moje konto
{#                    TODO: wstawić ikonę burgera/menu#}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'change-password' %}">Zmień hasło</a>
                </div>
            </li>
        </ul>
        {% if user.username %}
            <span class="nav-item">
                <a class="nav-link btn btn-info" href="{% url 'logout' %}">
                     Wyloguj {{ user.username }}</a>
            </span>
        {% endif %}
    </div>
</nav>
